trunk/Fonte/Clinicalmanager/Clinicalmanager/relatorio/Paciente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Paciente"
    targetNamespace="http://tempuri.org/Paciente.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Paciente.xsd"
    xmlns:mstns="http://tempuri.org/Paciente.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="Paciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nome" type="xs:string"></xs:element>
        <xs:element name="cpf" type="xs:string"></xs:element>
        <xs:element name="id" type ="xs:integer"></xs:element>
      </xs:sequence>      
    </xs:complexType>
  </xs:element>
</xs:schema>
